<section class="row">
<div ng-cloak class=" col-md-8 col-md-offset-2" ng-init="checkToken()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center">
                <span class="glyphicon .glyphicon-list"></span> ADD CAR
            </h2>
        </div>
        <div class="panel panel-default">
                 <!-- <h3 class="panel-title">
                   ADMIN
                    </h3> -->
                    <div class="rtn-inventory">

                        <a id="logout" class="no-style-link" href='#/admin-inventory'> <button type="button" class="btn btn-primary top-panel-btns"><span class= "glyphicon glyphicon-arrow-left"></span> INVENTORY  </button></a>

                    </div>
                <div class="clearfix"></div>
        </div>

        <div class="panel-body">
            <!-- The form to add cars information -->
            <form name ="addForm" novalidate>
                <div class="form-group">
                    <label for="make">Make</label>
                    <input type="text" class="form-control" placeholder="Make" ng-model="car.make" required>
                </div>
                <div class="form-group">
                    <label for="model">Model</label>
                    <input type="text" class="form-control" placeholder="Model" ng-model="car.model" required>
                </div>
                <div class="form-group">
                    <label for="year">Year</label>
                    <input type="text" class="form-control" placeholder="Year" ng-model="car.year" required>
                </div>
                <div class="form-group">
                    <label for="miles">Miles</label>
                    <input type="text" class="form-control" placeholder="Miles" ng-model="car.miles" required>
                </div>
                <div class="form-group">
                    <label for="color">Color</label>
                    <input type="text" class="form-control" placeholder="Color" ng-model="car.color" required>
                </div>
                <div class="form-group">
                    <label for="interiorColor">Interior Color</label>
                    <input type="text" class="form-control" placeholder="interiorColor" ng-model="car.interiorColor" required>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" placeholder="Price" ng-model="car.price">
                </div>
                <div class="form-group">
                    <label for="vin">VIN</label>
                    <input type="text" class="form-control" placeholder="VIN" ng-model="car.vin">
                </div>
                <div class="form-group">
                    <label for="highlights">Highlights</label>
                    <input type="text" class="form-control" placeholder="Highlights" ng-model="car.highlights">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" placeholder="Description" ng-model="car.description">
                </div>
                <div class="form-group">
                    <label for="carfax">CarFax</label>
                    <input type="text" class="form-control" placeholder="CarFax" ng-model="car.carfax">
                </div>
                <div class="form-group">
                    <label for="engine">Engine</label>
                    <input type="text" class="form-control" placeholder="Engine" ng-model="car.engine">
                </div>
                <div class="form-group">
                    <label for="transmission">Transmission</label>
                    <input type="text" class="form-control" placeholder="Transmission" ng-model="car.transmission">
                </div>
                <div class="form-group">
                    <label for="picture">Main picture</label>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" ng-click="upload()"><span class= "glyphicon glyphicon-upload"></span>
                            UPLOAD <span class="caret"></span>
                        </button>
                        <div style="margin-top:10px;">
                            <!-- Show the thumbnail only when the picture is uploaded -->
                            <!-- <a href="{{car.picture.url}}" class="thumbnail" ng-if="car.picture"> -->
                            <a class="thumbnail" ng-if="car.picture">
                            <!-- the picture is rendered with width: 500 and sharpened -->
                            <img ng-src="{{car.picture.url | fpConvert: {filter:'sharpen'} }}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="picture">More pictures?</label>
                    <div class="text-center">
                    <button type="button" class="btn btn-primary" ng-click="uploadMultiple()"> <span class= "glyphicon glyphicon-upload"></span>
                    UPLOAD <span class="caret"></span>
                    </button>
                    <!-- Show the thumbanil of more pictures -->
                        <div style="margin-top:10px;" ng-repeat="picture in car.morePictures">     <div class="col-md-{{12 / car.morePictures.length}}">
                            <a class="thumbnail">
                              <img ng-src="{{picture.url | fpConvert: {filter:'sharpen'} }}">
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
                <hr />
                <button type="submit" class="btn btn-danger btn-block"  ng-click="createCar()" ng-disabled="car.$invalid || !car.picture">Submit</button>

                  <!---form validation -->
                <div class="form-group">
                  <div style="color:green" ng-show="addForm.$submitted">Car added!</div>
                  <!-- <div ng-messages="addForm.newPassword.$error" style="color:green" ng-show="addForm.$submitted" ng-messages-multiple="ng-messages-multiple" class="error-messages slide-right">
                    <div ng-message="required" class="message slide-left">This field is required</div>
                  </div> -->
                </div>

            </form>
        </div>
    </div>
</div>
</section>
