<section class="row" ng-init="userCtrl.getCars(); userCtrl.checkToken()">
<div class="row">
<div class=" col-sm-12 col-md-6 col-md-offset-3">
  <div class="panel panel-default">
      <div class="panel-heading">
           <h3 class="panel-title admin-title">
             ADMIN HOME
           </h3>
      </div>
              <div class="admin-panel">
                <button class="btn btn-primary" id="add-button"><a id="submit-link" class="no-style-link" href="#/addCar" ng-click="carCtrl.getCars()">ADD CAR</a></button>
                <button class="btn btn-danger" id="add-button"><a id="submit-link" class="no-style-link" href="#/addUser">ADD USER</a></button>
                <button class="btn btn-warning" id="add-button"><a id="logout" class="no-style-link" href='' ng-click="userCtrl.signOut()"> <span class= "glyphicon glyphicon-remove-circle"></span> LOGOUT</a></button>
              </div>
          <div class="clearfix"></div>
  </div>
</div>
</div>

  <!-- <h2 id="car-title">Make: {{userCtrl.curCar.make}}</h2>
  <h2 id="car-model">Model: {{userCtrl.curCar.model}}</h2> -->
  <div class="row ">
    <div class="car-container">
  <div ng-repeat="car in userCtrl.cars">
      <div class="col-md-3 col-ms-6 col-sm-4 col-sm-offset-0">
        <a class="no-style-link-thumb" ng-href="/#/detail/{{car._id}}">
      <div class="thumbnail inventory-car-containter">
        <img ng-src="{{car.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" />
        <div class="caption text-center">
          <p class="yr-mk-mdl">{{car.year}} {{car.make}} {{car.model}}</p>
          <p class="price">{{car.price}}</p>
        </a>
        </div>
      </div>
      </div>
  </div>
</div>
</div>

<!-- <table>
  <tr data-ng-repeat="car in userCtrl.cars.inventory" class="scores">
    <td>{{car.make}}</td>
    <td>{{car.model}}</td>
    <td>{{car.year}}</td>
  </tr>
</table> -->
  <!-- <div id="answer-cont"> -->
  <!-- <div id="next-button" ng-show="carCtrl.showNextButton" ng-click="carCtrl.showNextButton = false; carCtrl.newQuestion()"name="button">next</div> -->
  <!-- </div> -->

</section>
