<section class="row" ng-init="userCtrl.getCars(); userCtrl.checkToken()">
<div class="row">
<div class=" col-sm-12 col-md-6 col-md-offset-3">
  <div class="panel panel-default">
      <div class="panel-heading">
           <h3 class="panel-title admin-title">
             ADMIN HOME
           </h3>
      </div>
              <div class="admin-panel">
                <a id="submit-link" class="no-style-link" href="#/addCar" ng-click="carCtrl.getCars()"><button class="btn btn-primary" id="add-button">ADD CAR</button></a>
                <a id="submit-link" class="no-style-link" href="#/addUser"><button class="btn btn-danger" id="add-button">ADD USER</button></a>
                <a id="logout" class="no-style-link" href='' ng-click="userCtrl.signOut()"> <button class="btn btn-warning" id="add-button"><span class= "glyphicon glyphicon-remove-circle"></span> LOGOUT</button></a>
              </div>
          <div class="clearfix"></div>
  </div>
</div>
</div>

  <!-- <h2 id="car-title">Make: {{userCtrl.curCar.make}}</h2>
  <h2 id="car-model">Model: {{userCtrl.curCar.model}}</h2> -->
  <div class="row gallery-container">
    <div class="inventory-title">
      <h2>Current Inventory</h2>
    </div>
    <div class="car-container">
  <div ng-repeat="car in userCtrl.cars | orderBy:['make','model']">
      <div class="col-md-10 col-ms-10 col-sm-10 col-md-offset-1 col-sm-offset-1 col-ms-offset-1">
        <a class="no-style-link-thumb" ng-href="/#/detail/{{car._id}}">
      <div class="thumbnail inventory-car-containter">
        <img ng-src="{{car.picture.url | fpConvert: {filter:'sharpen', w:750, h:375} }}" />
        <div class="caption text-center">
          <p class="yr-mk-mdl">{{car.year}} {{car.make}} {{car.model}}</p>
          <p class="yr-mk-mdl">{{car.miles}} miles</p>
          <p class="price">{{car.price}}</p>
        </div>
      </div>
        </a>
      </div>
  </div>
</div>
</div>

<!-- <table>
  <tr data-ng-repeat="car in userCtrl.cars.inventory" class="scores">
    <td>{{car.make}}</td>
    <td>{{car.model}}</td>
    <td>{{car.year}}</td>
  </tr>
</table> -->
  <!-- <div id="answer-cont"> -->
  <!-- <div id="next-button" ng-show="carCtrl.showNextButton" ng-click="carCtrl.showNextButton = false; carCtrl.newQuestion()"name="button">next</div> -->
  <!-- </div> -->

</section>
