<div ng-cloak class="row gallery-container container" style="margin:auto; padding:0px">
    <div class="" ng-init="getCar();">
        <div ng-if="car.sold" class="sold-banner">This car has been sold</div>
        <div class="panel-default">
            <div class="car-ymm-price" style="padding:0px">
                <h2 class="car-header">{{car.year}} {{car.make}} {{car.model}}</h2>
                <h2 class="car-price">{{car.price}}</h2>
            </div>
            <div class="row car-detail-row">

                <div ng-include="'partials/templates/car-view-detail-caro.html'"></div>

                <!--_________________________Modal Carousle ___________________________-->
                <div ng-include="'partials/templates/modal-caro.html'"></div>
                <!--- ___________________End of Modal Carousel __________________________-->

                <div class="col-sm-4 col-md-4 col-lg-4 car-spec-col">
                    <div class="car-specs">
                        <ul class="list-group spec-list">
                            <!-- <li class="list-group-item list-price">{{car.price}}</li> -->
                            <li class="list-group-item"><span class="spec-lables">MILES</span> <br> {{car.miles}}</li>
                            <li class="list-group-item"><span class="spec-lables">COLOR</span> <br> {{car.color}}</li>
                            <li class="list-group-item"><span class="spec-lables">INTERIOR COLOR</span> <br> {{car.interiorColor}}</li>
                            <li class="list-group-item"><span class="spec-lables">ENGINE</span> <br> {{car.engine}}</li>
                            <li class="list-group-item"><span class="spec-lables">TRANSMISSION</span> <br> {{car.transmission}}</li>
                            <li class="list-group-item"><span class="spec-lables">VIN</span> <br> {{car.vin}} <br>
                                <a ng-if="car.carfaxFile" ng-href='{{car.carfaxFile[0].url}}' target='_blank'>
                                    <img class='carfax-btn' src='../assets/img/cfxlogo.jpg'>
                                </a>

                                <!-- <a ng-if="showCarFax(car)" ng-href='http://www.carfax.com/VehicleHistory/p/Report.cfx?partner=DVW_1&vin={{car.vin}}' target='_blank'>
                      <img class='carfax-btn' src='../assets/img/cfxlogo.jpg'></a> -->

                            </li>
                            <li class="list-group-item"><span class="spec-lables">STOCK #</span> <br> {{car.stockNumber}}</li>
                            <li class="list-group-item"><span class="spec-lables">HIGHLIGHTS</span> <br> {{car.highlights}}</li>
                            <!-- <li class="list-group-item"><a class="btn btn-danger" role="button" href="{{car.carfax}}">CarFax Report</a></li> -->
                        </ul>
                        <div class="contact-header">
                            <h4>Contact Us</h4>
                        </div>
                        <form>
                            <div style="padding: 10px; border: 1px solid #ddd; border-bottom-right-radius: 4px; border-bottom-left-radius:4px;">
                                <div class="form-group">
                                    <input type="fn" ng-model="firstName" class="form-control" id="inputFirst1" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <input type="ln" ng-model="lastName" class="form-control" id="inputLast1" placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                    <input type="phone" ng-model="phone" class="form-control" id="inputPhone1" placeholder="Phone">
                                </div>
                                <div class="form-group">
                                    <input type="email" ng-model="email" class="form-control" id="inputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="inputComments1"><span class="email-lables">COMMENTS</span></label>
                                    <textarea class="form-control" ng-model="comments" rows="3"></textarea>
                                </div>
                                <button type="submit" ng-click="sendEmail()" class="btn btn-default">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- touch swipe for carousel -->
    <script>
        $("#preview-carousel").carousel()
        $("#modal-carousel").carousel()
    </script>
</div>
