
<div class="col-md-8 col-md-offset-2" ng-init="getCar();">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center"><span class="glyphicon glyphicon-user"></span> Car details </h2>
        </div>

        <div class="text-right"><a href="/#/gallery" class="btn btn-danger" role="button">Return to Gallery</a> </div>

        <div class="panel-body text-center">
          <div id="ss-contain">
              <img ng-repeat="picture in slides" class="sshow" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{picture.image}}">
                <div id="prevbut"><h1 id="prev"><a  href="" ng-click="prevSlide()"><</a></h1></div>
                  <div id="nextbut"><h1 id="next"><a  href="" ng-click="nextSlide()">></a></h1></div>
          </div>
          <!-- <img class="main-image" ng-src="{{car.picture.url | fpConvert: {filter:'sharpen'} }}" /> -->
            <h2>{{car.make}} {{car.model}}</h2>
            <hr />
            <p class="text-left"><label>Year: </label> {{car.year}}</p>
            <p class="text-left"><label>Color: </label> {{car.color}}</p>
            <!-- Only if there are other pictures -->
            <div ng-if="car.morePictures">
                <h3> More Pictures <h3>
                <div ng-repeat="picture in slides">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                      <a ng-click="setCurrentSlideIndex($index)" ng-href="" class="thumbnail" id="detailGal">

                        <!-- <a ng-href="{{picture.url}}" class="thumbnail" id="detailGal"> -->
                          <img ng-src="{{picture.image | fpConvert: {filter:'sharpen', w:500} }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>


      </div>

    </div>
</div>
