<div class="row">
    <div style="font-family: 'Gotham', sans-serif" class="contact-page-header col-xs-10 col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">CONTACT</div>

    <div id="map-container" class="col-xs-10 col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
        <div id="gmap">
            <ng-map zoom="14" center="[47.6670035,-122.1083731]">
                <marker position="[47.6670035,-122.1083731]" />
                <!-- <shape name="circle" radius="400" center="[47.6670035,-122.1083731]" radius="4000" /> -->
                <control name="overviewMap" opened="true" />
            </ng-map>
        </div>
    </div>
    <div class="row">
        <div class="contact-info col-xs-10 col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
            <span>Monday - Friday | 9AM - 5PM </span>
        </div>
    </div>
    <div class="row">
        <div class="contact-info col-xs-10 col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
            <span>Weekends by appointment only</span>
        </div>
    </div>
    <div class="row">
        <div class="contact-info col-xs-10 col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
            <span><a href="tel:425-440-3880">425-440-3880</a></span> | <span><a href="mailto:info@authenticmotorcars.com?Subject=AMC%20Contact%20Page">info@authenticmotorcars.com</a></span>
        </div>
    </div>
</div>
