<!-- View the details of a car -->
<section ng-hide="showme">
  <div ng-cloak id="container-or" class="container">
  <div class="" ng-init="getCar();">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center"><span class=""></span> CAR DETAILS </h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                    <div class="rtn-inventory">
                      <a href="/#/admin-inventory" class="btn btn-primary" role="button">INVENTORY</a>
                      <!-- <div class="text-right"><a href="/#/editCar/{{car._id}}" ng-click="showme=true" class="btn btn-danger" role="button">Edit</a> </div> -->
                      <a href="" ng-click="showme=true" class="btn btn-danger" role="button">Edit</a>
                    </div>
                <div class="clearfix"></div>
            </div>
        </div>

      <div class="panel-default">
      <div class="row car-header">
        <div class="col-md-8">
          <h2>{{car.make}} {{car.model}}</h2>
          <!-- <div class="text-right"><a href="/#/gallery" class="btn btn-danger" role="button">Return to Gallery</a> </div> -->
        </div>
      </div>
          <!-- <div class="panel-body text-center"> -->
          <div class="row">
            <div class="col-md-8">
              <div id="preview-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Slides -->
                <div class="carousel-inner carousel-container">
                  <div class="item" ng-repeat="picture in slides" ng-class="{active:!$index}">
                    <a >
                  <!-- <div class="item" ng-repeat="car in cars" ng-class="{'active': car.active}"> -->
                      <img ng-src="{{ picture.image }}" style="margin:auto">
                    </a>

                  </div>
                </div>
                <!-- end Slides -->

                <!-- Controls -->
                <a class="left carousel-control" ng-class="{'hide': slides.length == 0}" role="button" data-target="#preview-carousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" ng-class="{'hide': slides.length == 0}" role="button" data-target="#preview-carousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <!-- end Controls -->
              </div>
            </div>


            <!-- <img class="main-image" ng-src="{{car.picture.url | fpConvert: {filter:'sharpen'} }}" /> -->

              <div class="col-md-4">
                <div class="car-specs">
                  <h3 class="car-price">Price: {{car.price}}</h3>
                  <hr>
                  <ul>
                    <li>Year: {{car.year}}</li>
                    <li>Miles: {{car.miles}}</li>
                    <li>Color: {{car.color}}</li>
                    <li>Interior Color: {{car.interiorColor}}</li>
                    <li>Engine: {{car.engine}}</li>
                    <li>Transmission: {{car.transmission}}</li>
                    <li>VIN: {{car.vin}}</li>
                    <li>Hightlights: {{car.highlights}}</li>
                    <li><a class="btn btn-danger" role="button" href="{{car.carfax}}">CarFax Report</a></li>
                  </ul>
                </div>
            </div>
          </div>


              <hr />
              <div class="row">
              <div class="col-md-8 col-md-offset-2">
              <!-- Only if there are other pictures -->
                <div ng-if="car.morePictures">
                    <h3> More Pictures <h3>
                    <div ng-repeat="picture in slides" ng-class="{active:!$index}" data-target="#preview-carousel " data-slide-to="{{ $index }}">
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                          <a class="thumbnail" id="detailGal">
                            <!-- <a ng-href="{{picture.url}}" class="thumbnail" id="detailGal"> -->
                              <img ng-src="{{picture.image | fpConvert: {filter:'sharpen', w:500} }}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <div id="container-or" class="container">
          <!-- add ngSanitize to app and then you can use ng-bind-html -->
              <div class="car-descr" ng-bind-html="car.description"></div>
            </div>
          </div>


        </div>
        <!-- touch swipe for carousel -->
        <script>
          $("#preview-carousel").carousel();

        </script>

  </div>

</section>

  <!-- //edit car section -->
  <section ng-show="showme">
    <div class="row">
    <div class="col-md-8 col-md-offset-2" ng-init="checkToken()">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">
                    <span class="glyphicon glyphicon-edit"></span> EDIT CAR
                </h2>
            </div>
            <div class="panel panel-default">
                        <div class="rtn-inventory">
                          <a class="no-style-link" href="" role="button"> <button ng-click="showme=false" class="btn btn-info top-panel-btns"><span class= "glyphicon glyphicon-arrow-left"></span> CAR DETAILS </button></a>
                          <button type="button" class="btn btn-primary top-panel-btns">
                            <a id="logout" class="no-style-link" href='#/admin-inventory'>  INVENTORY  </a>
                          </button>
                          <button type="button" class="btn btn-danger top-panel-btns" data-ng-click="deleteCar(car)"><span class= "glyphicon glyphicon-remove-circle"></span> DELETE CAR </button>
                        </div>
                    <div class="clearfix"></div>
            </div>


            <div class="panel-body">
                <!-- The form to add cars information -->
                <form name ="addForm" novalidate>
                    <div class="form-group">
                        <label for="make">Make</label>
                        <input type="text" class="form-control" placeholder="Make" value= "{{car.make}}" ng-model="car.make" required>
                    </div>
                    <div class="form-group">
                        <label for="model">Model</label>
                        <input type="text" class="form-control" placeholder="Model" ng-model="car.model" required>
                    </div>
                    <div class="form-group">
                        <label for="year">Year</label>
                        <input type="text" class="form-control" placeholder="Year" ng-model="car.year" required>
                    </div>
                    <div class="form-group">
                        <label for="miles">Miles</label>
                        <input type="text" class="form-control" placeholder="Miles" ng-model="car.miles" required>
                    </div>
                    <div class="form-group">
                        <label for="color">Color</label>
                        <input type="text" class="form-control" placeholder="Color" ng-model="car.color" required>
                    </div>
                    <div class="form-group">
                        <label for="interiorColor">Interior Color</label>
                        <input type="text" class="form-control" placeholder="interiorColor" ng-model="car.interiorColor" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" placeholder="Price" ng-model="car.price">
                    </div>
                    <div class="form-group">
                        <label for="vin">VIN</label>
                        <input type="text" class="form-control" placeholder="VIN" ng-model="car.vin">
                    </div>
                    <div class="form-group">
                        <label for="highlights">Highlights</label>
                        <input type="text" class="form-control" placeholder="Highlights" ng-model="car.highlights">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" placeholder="Description" ng-model="car.description">
                    </div>
                    <div class="form-group">
                        <label for="carfax">CarFax</label>
                        <input type="text" class="form-control" placeholder="CarFax" ng-model="car.carfax">
                    </div>
                    <div class="form-group">
                        <label for="engine">Engine</label>
                        <input type="text" class="form-control" placeholder="Engine" ng-model="car.engine">
                    </div>
                    <div class="form-group">
                        <label for="transmission">Transmission</label>
                        <input type="text" class="form-control" placeholder="Transmission" ng-model="car.transmission">
                    </div>
                    <div class="form-group">
                        <label for="picture">Main picture</label>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary" ng-click="upload()"> <span class= "glyphicon glyphicon-upload"></span>
                                UPLOAD <span class="caret"></span>
                            </button>
                            <div style="margin-top:10px;">
                                <!-- Show the thumbnail only when the picture is uploaded -->
                                <div class="thumbnail" ng-if="car.picture">
                                  <!-- the picture is rendered with width: 500 and sharpened -->
                                  <img ng-src="{{car.picture.url | fpConvert: {filter:'sharpen'} }}">
                                </div>
                                <button type="button" class="btn btn-danger" data-ng-click="removeImage(car)"> <span class= "glyphicon glyphicon-remove-circle"></span> REMOVE IMAGE</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="picture">More pictures?</label>
                        <div class="text-center">
                          <div class="ul-mult-btn">
                            <button type="button" class="btn btn-primary" ng-click="uploadMultiple()">
                            <span class= "glyphicon glyphicon-upload"></span> UPLOAD <span class="caret"></span>
                            </button>
                          </div>
                        <!-- Show the thumbanil of more pictures -->
                            <div style="margin-top:10px;" ng-repeat="picture in car.morePictures">     <div class="thumb-container col-md-{{12 / car.morePictures.length}}">
                                <div class="thumbnail">
                                  <img ng-src="{{picture.url | fpConvert: {filter:'sharpen'} }}">
                                </div>
                                <button type="button" class="btn btn-danger" data-ng-click="removeMoreImage(picture.url, car)"> <span class= "glyphicon glyphicon-remove-circle"></span> REMOVE IMAGE</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <hr />
                    <button type="submit" class="btn btn-primary btn-block update-btn"  ng-click="updateCar(); getCar(); showme=false;" ng-disabled="car.$invalid || !car.picture">UPDATE</button>
                </form>
            </div>
        </div>
    </div>
  </div>

  </section>
