<div class="contaier">
  <div class="col-md-10 col-md-offset-1">
  <div class="col-md-6">
    <h1>FINANCE</h1>
    <img src="assets/img/Woodside-Credit-Logo.png"/>
    <p>Classic Motorcars has partnered with industry leader Woodside Credit to make financing your Classic Car fast and affordable.</p>
    <p>Classic Car Loans with the Lowest Monthly Payments. When financing your classic car, Woodside Credit is all about performance. They are committed to providing their clients with fast, friendly and professional service along with the lowest monthly payments. For over a decade, Woodside has been recognized as the leading lender in the classic car market by manufacturers, dealers, and automobile enthusiasts.</p>
    <p>CLICK HERE to visit Woodside Credit and fill out their online application.</p>
    <img style="width: 100%;" src="assets/img/Ferrari-328.jpg"/>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default" style="margin-top: 32px">
      <div class="panel-body">
    <form>
        <div class="form-group">
          <label for="email">INTEREST RATE %</label>
          <input class="form-control">
        </div>
        <div class="form-group">
          <label for="sel1">LOAN TERM</label>
          <select class="form-control" style="height: 44px" id="sel1">
            <option>3 Years ( 36 Months )</option>
            <option>4 Years ( 48 Months )</option>
            <option>5 Years ( 60 Months )</option>
            <option>6 Years ( 72 Months )</option>
            <option>7 Years ( 84 Months )</option>
            <option>8 Years ( 96 Months )</option>
            <option>9 Years ( 108 Months )</option>
            <option>10 Years ( 120 Months )</option>
          </select>
        </div>
        <div class="form-group">
          <label for="pwd">PURCHASE PRICE $</label>
          <input class="form-control">
        </div>
        <div class="form-group">
          <label for="pwd">DOWN PAYMENT $</label>
          <input  class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">CALCULATE PAYMENT</button>
    </form>
  </div>
  </div>
</div>

</div>
</div>
