<!-- view the gallery of all the cars in the db -->
<div class="row" ng-init="getCars();">
  <div class="car-container">
<div ng-repeat="car in cars">
    <div class="col-md-3 col-ms-6 col-sm-4 col-sm-offset-0">
      <a ng-href="/#/car/{{car._id}}" class="no-style-link-thumb">
    <div class="thumbnail inventory-car-containter">
      <img ng-src="{{car.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" />
      <div class="caption text-center">
        <p class="yr-mk-mdl">{{car.year}} {{car.make}} {{car.model}}</p>
        <p class="price">{{car.price}}</p>
      </div>
    </div>
  </a>
    </div>
</div>
</div>
</div>
