<div class="col-md-8 col-md-offset-2" ng-init="getCars()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center"><span class="glyphicon glyphicon-user"></span> Welcome to AMC </h2>
        </div>
        <!-- <div class="panel-body text-center"> -->

            <div id="preview-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
              <!-- Slides -->
              <div class="carousel-inner">
                <div class="item" ng-repeat="car in cars" ng-class="{active:!$index}" >
                  <a ng-href="/#/car/{{car._id}}">
                <!-- <div class="item" ng-repeat="car in cars" ng-class="{'active': car.active}"> -->
                    <img ng-src="{{ car.picture.url }}" style="margin:auto">
                  </a>
                </div>
              </div>
              <!-- end Slides -->

              <!-- Controls -->
              <a class="left carousel-control" ng-class="{'hide': cars.length == 0}" role="button" data-target="#preview-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" ng-class="{'hide': cars.length == 0}" role="button" data-target="#preview-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
              <ol class="carousel-indicators">
                <li ng-repeat="car in cars" ng-class="{active:!$index}" data-target="#preview-carousel" data-slide-to="{{ $index }}" ></li>
              </ol>
              <!-- end Controls -->
            </div>
        </div>
</div>
<div class="container">
  <div class="row row-centered">
    <!-- <div class="col-xs-3 col-centered"> -->
    <div class="col-xs-8 col-md-3 col-centered">
      <p>Bavaria ipsum dolor sit amet Schmankal san, glei. Soi hoggd a Hoiwe Milli, Griasnoggalsubbm. Ebba Xaver vui huift vui, a Hoiwe. Griaß God beinand damischa bitt sodala singan. Obandln a ganze gwiss Weiznglasl nia need Hetschapfah Obazda oamoi ebba! Naa gwiss Schaung kost nix Steckerleis Habedehre, heid gfoids ma sagrisch guad? Maderln a noch da Giasinga.</p>
    </div>
    <div class="col-xs-8 col-md-3 col-centered">
      <p>Hemad oans eam sei a fescha Bua naa Habedehre. Vo de lem und lem lossn a bissal des. Auf der Oim, da gibt’s koa Sünd des basd scho Schaung kost nix, Radler Greichats muass sodala Wiesn: Bussal damischa a fescha Bua Fünferl des is schee, Bradwurschtsemmal Mamalad! Fei Foidweg oa, Sauwedda amoi: Biazelt muass resch kloan, resch im Beidl gscheit.</p>
    </div>
    <div class="col-xs-8 col-md-3 col-centered text-top">
      <p>Radi wann griagd ma nacha wos z’dringa da an noch da Giasinga Heiwog, schüds nei. Biaschlegl Biazelt im Beidl ham, Charivari Sauwedda resch Heimatland mi griasd eich midnand dringma aweng! Lewakaas Biagadn i hab an Weibaleid hoam Leonhardifahrt gar nia need, Maibam! Ded do Lewakaas Brotzeit.</p>
    </div>
  </div>
</div>
