<!-- view the gallery of all the cars in the db -->
<!-- <div class="jumbotron"><h1>Hello</h1></div> -->
<div class="row gallery-container container" style="margin:auto" ng-init="getCars();">

  <div class="inventory-title">
  </div>
  <div class="car-container col-md-12 col-ms-12 col-mm-12 col-sm-12">
    <div ng-repeat="car in cars | orderBy:['make','model']">
        <div class="col-md-4 col-ms-6 col-mm-6 col-sm-6 col-xs-12 car-tiles">
          <a show-on-load-bg ng-href="/#/car/{{car._id}}"  class="bg-img-style">
            <span class="sold-car" ng-if="car.sold">
              <div class="sold-text" style="font-family: 'Gotham', sans-serif">SOLD</div>
            </span>
            <img src='/assets/favicon.ico' alt='Icons' class='sprite'>
            <div class="inv-pics">
                <!-- <img style="height: 100%" ng-src="{{car.picture.url | fpConvert: {filter:'sharpen', h:225} }}" /> -->
                <span ng-hide="car.sold" id="car-price"><p>{{car.price}}</p></span>
                <span ng-show="car.sold" style="opacity: 0.5" id="car-price"><p>{{car.price}}</p></span>

                <div class="car-text">
                  <p class="yr-mk-mdl">{{car.year}} {{car.make}} {{car.model}}</p>
                </div>


            </div>
          </a>
          <!-- <a ng-href="/#/car/{{car._id}}" class="no-style-link-thumb">
            <div class="inv-pics">
                <img style="height: 100%" ng-src="{{car.picture.url | fpConvert: {filter:'sharpen', h:225} }}" />
                <span id="car-price"><p>{{car.price}}</p></span>

                <div class="car-text">
                  <p class="yr-mk-mdl">{{car.year}} {{car.make}} {{car.model}}</p>
                </div>


            </div>
          </a> -->

        </div>
    </div>
  </div>
</div>
