<div class="col-md-8 col-md-offset-2" ng-init="getCars()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center"><span class="glyphicon glyphicon-user"></span> Welcome to AMC </h2>
        </div>
        <!-- <div class="panel-body text-center"> -->

            <div id="preview-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
              <!-- Slides -->
              <div class="carousel-inner">
                <div class="item" ng-repeat="car in cars" ng-class="{active:!$index}" >
                  <a ng-href="/#/car/{{car._id}}">
                <!-- <div class="item" ng-repeat="car in cars" ng-class="{'active': car.active}"> -->
                    <img ng-src="{{ car.picture.url }}" style="margin:auto">
                  </a>
                </div>
              </div>
              <!-- end Slides -->

              <!-- Controls -->
              <a class="left carousel-control" ng-class="{'hide': cars.length == 0}" role="button" data-target="#preview-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" ng-class="{'hide': cars.length == 0}" role="button" data-target="#preview-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
              <ol class="carousel-indicators">
                <li ng-repeat="car in cars" ng-class="{active:!$index}" data-target="#preview-carousel" data-slide-to="{{ $index }}" ></li>
              </ol>
              <!-- end Controls -->
            </div>


            <!-- <div class="carousel-inner">
              <div class="item" ng-class="{active:!$index}" ng-repeat="car in cars">
                <img class="first-slide" src="{{car.picture.url}}" alt="First slide" style="margin:auto">
                <div class="container">
                  <div class="carousel-caption">
                    <h1>{{car.make}} {{car.model}}</h1>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div> -->
        <!-- </div> -->
</div>
