<section>
    <form id="login-form" class="form-signin" ng-submit="userCtrl.signIn(user)">
        <h2 class="form-signin-heading">Admin Login</h2>
        <input type="text" class="form-control" placeholder="username" ng-model="user.username" required/>

        <input type="password" class="form-control" placeholder="password" ng-model="user.password" required/>
        <p class="error-message" ng-show="userCtrl.ip">Please try again.</p>

        <button id="login-button" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</section>
