<div class="contaier-fluid" style="text-align: center;" ng-init="getServiceData(); retrieveServiceDataFromApi();">
    <div class="row">
        <div class="jumbotron jumbotron-fluid" style="background-image: url('./assets/img/service/ferrari-engine.jpg');">
            <div class="container">
                <h1 class="display-4" style="color: white ">Service</h1>
                <p class="lead"></p>
            </div>
        </div>
        <!-- <img style="width:100%; max-width: 1500px" src="./assets/img/service/ferrari-engine.jpg" /> -->


    </div>
    <div class="row" style="padding-top:8px">
      <div ng-include="'partials/templates/service-caro.html'"></div>
    </div>
    <div class="row" style="font-family: 'Gotham', sans-serif; padding-left: 30px; padding-right: 30px; padding-top:30px; font-size:17px">
        <div class="col-md-10 col-md-offset-1 col-sm-12" >
            <p ng-show="service.description == 'Service details coming soon.'">Authentic Motorcars is pleased to have Randy Johnson on our team as our lead technician. Randy has experience working with a wide variety of makes that include Alfa Romeo, BMW, Fiat, Ferrari, Maserati, Porsche, Lancia, Volkswagen, and Lotus.
                We like to involve our clients with the service of their vehicles and provide detailed explanations of repairs needed and alternative parts and performance options that are available to ensure longevity. Our mission is to help you better
                understand the mechanicals of your collector vehicle so you can plan future maintenance campaigns and restoration phases if needed.
            </p>
            <p ng-if="service.description != 'Service details coming soon.'">
              {{service.description}}
            </p>
            <h4 style="text-align:center; padding-top: 10px">FOR SERVICE INQUIRES PLEASE EMAIL:</h4>
            <h3 style="text-align:center"><a href="mailto:randy@authenticmotorcars.com?subject=Service Inquiry" style="color:#00b5dd">randy@authenticmotorcars.com</a> or call <span style="color:#f68621">425-748-8059</span></h3>
            <hr>
        </div>
    </div>
    <div ng-show="serviceList.length > 0" class="row" style="font-family: Gotham">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            <div class="panel panel-default" style="margin:auto">
                <div class="panel-heading">
                    <h3 class="panel-title">SERVICES</h3>
                </div>
                    <ul class="list-group">
                        <li class="list-group-item" style="border: none; text-align:left" ng-repeat="item in serviceList"><span style="color:#f68621; padding-right: 2px" class="glyphicon glyphicon-certificate"></span>{{item}}</li>
                    </ul>
            </div>
        </div>
    </div>
    <div ng-show="service.special && service.special != ''" class="row" style="font-family: Gotham; padding-top: 30px">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            <div class="panel panel-default" style="margin:auto">
                <div class="panel-heading">
                    <h3 class="panel-title">SPECIAL GOING ON NOW</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" style="border: none; text-align:center"><span style="color:#00b5dd; padding-right: 5px" class="glyphicon glyphicon-certificate"></span>{{service.special}}<span style="color:#00b5dd; padding-left: 5px" class="glyphicon glyphicon-certificate"></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="row" style="padding-left:15px; padding-right: 15px">
        <div class="col-md-4 col-sm-12">
            <div class="panel panel-default" style="margin:auto">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="panel panel-default" style="margin:auto">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="panel panel-default" style="margin:auto">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div> -->


    <!-- <div class="col-md-12" style="background-color: #393939">
    <img style="width:100%; max-width: 1500px" src="./assets/img/service/ferrari-engine.jpg" />
    <div class="row">
      <div class="col-md-12" style="text-align: left; background-color: #393939; color: white; font-size: 20px; font-family: 'Gotham', sans-serif; padding: 30px;">
        <h3 style="color:#f68621; font-weight: bold; font-style: italic; margin-top:0px;">SERVICE</h3>
        <p>Authentic Motorcars is pleased to have Randy Johnson on our

          team as our lead technician. Randy has experience working with a

          wide variety of makes that include Alfa Romeo, BMW, Fiat,

          Ferrari, Maserati, Porsche, Lancia, Volkswagen, and Lotus. We

          like to involve our clients with the service of their vehicles and

          provide detailed explanations of repairs needed and alternative

          parts and performance options that are available to ensure

          longevity. Our mission is to help you better understand the

          mechanicals of your collector vehicle so you can plan future

          maintenance campaigns and restoration phases if needed.

          For service inquires please email <a href="mailto:randy@authenticmotorcars.com?subject=Service Inquiry" style="color:#00b5dd">randy@authenticmotorcars.com</a> or call <span style="color:#f68621">425-748-8059</span>.
        </p>
      </div>
    </div>
  </div> -->
</div>
