<div class="container service-banner">
  <div class="jumbotron" style="display: flex; justify-content: space-around; border-radius: 0px; background-color: #393939; flex-wrap: wrap;">
    <div class="service-banner-title col-md-6 col-sm-12">Service</div>
    <div class="service-text-block col-md-6 col-sm-12">
      <p>Authentic Motorcars is pleased to have Randy Johnson on our

      team as our lead technician. Randy has experience working with a

      wide variety of makes that include Alfa Romeo, BMW, Fiat,

      Ferrari, Maserati, Porsche, Lancia, Volkswagen, and Lotus. We

      like to involve our clients with the service of their vehicles and

      provide detailed explanations of repairs needed and alternative

      parts and performance options that are available to ensure

      longevity. Our mission is to help you better understand the

      mechanicals of your collector vehicle so you can plan future

      maintenance campaigns and restoration phases if needed.</p>
    </div>
  </div>
</div>
<div class="contaier">
  <img style="width:100%" src="./assets/img/service/ferrari-engine.jpg" />
</div>
