<div class="contaier-fluid" style="text-align: center;" ng-init="getServiceData()">
<div class="row">
  <div class="jumbotron jumbotron-fluid" style="background-image: url('./assets/img/service/ferrari-engine.jpg'); margin-bottom: 8px">
    <div class="container">
      <h1 class="display-4" style="color: white ">Service</h1>
      <p class="lead"></p>
    </div>
  </div>
  <!-- <img style="width:100%; max-width: 1500px" src="./assets/img/service/ferrari-engine.jpg" /> -->

  <div ng-include="'partials/templates/service-caro.html'"></div>

</div>
<div class="row">
  <div class="col-md-12" style="text-align: left; font-family: 'Gotham', sans-serif; padding-left: 30px; padding-right: 30px; padding-top: 10px">
    <p>Authentic Motorcars is pleased to have Randy Johnson on our

      team as our lead technician. Randy has experience working with a

      wide variety of makes that include Alfa Romeo, BMW, Fiat,

      Ferrari, Maserati, Porsche, Lancia, Volkswagen, and Lotus. We

      like to involve our clients with the service of their vehicles and

      provide detailed explanations of repairs needed and alternative

      parts and performance options that are available to ensure

      longevity. Our mission is to help you better understand the

      mechanicals of your collector vehicle so you can plan future

      maintenance campaigns and restoration phases if needed.
    </p>
    <h4 style="text-align:center">For service inquires please email:</h4>
    <h3 style="text-align:center"><a href="mailto:randy@authenticmotorcars.com?subject=Service Inquiry" style="color:#00b5dd">randy@authenticmotorcars.com</a> or call <span style="color:#f68621">425-748-8059</span></h3>.
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-12">
    <div class="card" style="width: 18rem; margin:auto">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="card" style="width: 18rem; margin:auto">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="card" style="width: 18rem; margin:auto">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>


  <!-- <div class="col-md-12" style="background-color: #393939">
    <img style="width:100%; max-width: 1500px" src="./assets/img/service/ferrari-engine.jpg" />
    <div class="row">
      <div class="col-md-12" style="text-align: left; background-color: #393939; color: white; font-size: 20px; font-family: 'Gotham', sans-serif; padding: 30px;">
        <h3 style="color:#f68621; font-weight: bold; font-style: italic; margin-top:0px;">SERVICE</h3>
        <p>Authentic Motorcars is pleased to have Randy Johnson on our

          team as our lead technician. Randy has experience working with a

          wide variety of makes that include Alfa Romeo, BMW, Fiat,

          Ferrari, Maserati, Porsche, Lancia, Volkswagen, and Lotus. We

          like to involve our clients with the service of their vehicles and

          provide detailed explanations of repairs needed and alternative

          parts and performance options that are available to ensure

          longevity. Our mission is to help you better understand the

          mechanicals of your collector vehicle so you can plan future

          maintenance campaigns and restoration phases if needed.

          For service inquires please email <a href="mailto:randy@authenticmotorcars.com?subject=Service Inquiry" style="color:#00b5dd">randy@authenticmotorcars.com</a> or call <span style="color:#f68621">425-748-8059</span>.
        </p>
      </div>
    </div>
  </div> -->
</div>
