<div class="contaie-fluid" style="text-align: center; background-color: #393939">
  <div class="col-md-12" style="background-color: #393939">
    <img style="width:100%; max-width: 1500px" src="./assets/img/storage/storage4.jpg" />
    <div class="row">
      <div class="col-md-12" style="text-align: left; background-color: #393939; color: white; font-size: 20px; font-family: 'Gotham', sans-serif; padding:30px;">
        <h3 style="color:#f68621; font-weight: bold; font-style: italic; margin-top:0px;">STORAGE</h3>
        <p>Authentic Motorcars can store your collector car or truck.

             We have secure access, heated buildings with security

             cameras, alarm, and fire sprinklers.  Your car will be covered

             if desired and put on a battery tender periodically and we

             also have the ability to offer a concierge service including

             washing, detailing, and regular servicing at an extra cost.

             With our service technician on staff you are assured in

             having us available when your car has a mechanical need.

             Rates start at $350 per month, please inquire on our

             availability.
         </p>
      </div>
    </div>
  </div>
</div>
