<div class="container service-banner">
  <div class="jumbotron" style="display: flex; justify-content: space-around; border-radius: 0px; background-color: #393939; flex-wrap: wrap;">
    <div class="service-banner-title col-md-6 col-sm-12">Storage</div>
    <div class="service-text-block col-md-6 col-sm-12">
      <p>Authentic Motorcars can store your collector car or truck.

        We have secure access, heated buildings with security

        cameras, alarm, and fire sprinklers.  Your car will be covered

        if desired and put on a battery tender periodically and we

        also have the ability to offer a concierge service including

        washing, detailing, and regular servicing at an extra cost.

        With our service technician on staff you are assured in

        having us available when your car has a mechanical need.

        Rates start at $350 per month, please inquire on our

        availability.
    </p>
    </div>
  </div>
</div>
<div class="contaier">
  <img style="width:100%" src="./assets/img/storage/storage4.jpg" />
</div>
