<div class="hidden-xs">
    <div id="carviewmodal" class="item modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-style" style="max-width: 75%; margin: auto; height: auto;">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="modal-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                        <!-- Slides -->
                        <div class="carousel-inner">
                          <img src='../assets/favicon.ico' alt='Icons' class='sprite-caro-modal'>
                            <div class="item" ng-repeat="picture in slides" ng-class="{active:!$index}">
                                <a class="bg-img-style-modal-caro" style="background-image: url('{{picture.image}}')">
                                  <img ng-src='{{picture.image}}' style="visibility: hidden;">
                                </a>

                            </div>
                        </div>
                        <!-- end Slides -->

                        <!-- Controls -->
                        <a class="left carousel-control" ng-class="{'hide': slides.length == 0}" role="button" data-target="#modal-carousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" ng-class="{'hide': slides.length == 0}" role="button" data-target="#modal-carousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                        <!-- end Controls -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
