/*Bootstrap container class over-ride*/
#container-or{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#container-or-footer{
  width: 100%;
  margin-top: 20px;
  /*margin-bottom: 20px;*/
}

/*Thumbnail style for car-view and detail view templates*/
#detailGal {
  width: 4em;
  height: 3em;
}

#detailGal img {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
