.container{
  width: 100%;
}
#detailGal {
  width: 4em;
  height: 3em;
}

a#detailGal img{
  height: 100%;
}

.main-image{
  width: 100%;
}

.thumb-nails{
  width: 100%;
}

img.thumb-nails {
  max-width: 100%;
  max-height: 100%;
}

#fit-thumb{
  /*width: 100%;
  height: 100%;*/
}
/*
@media (min-width: 1200px)
.col-lg-2 {
    width: 16.66666667%;
}*/
.msg-block {
    margin-top:5px;
}
.msg-error {
    color:#F00;
    font-size:14px;
}

/*
.image {
      height:50em;

  }
  img.alignLeft {
    width: 100%
  }*/

/****************/
/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }*/
#next {
  position:absolute;
  bottom:15%;
  right:10%;
}

#prev {
  position:absolute;
  bottom:15%;
  left:10%;
}
#next a{
  text-decoration: none;
  color: grey;
}

#prev a{
text-decoration: none;
color: grey;
}

#next a:hover{
  text-decoration: none;
  color: white;
}

#prev a:hover{
text-decoration: none;
color: white;
}

.sshow {
  width: 100%;
}
#ss-contain {
  /*min-height: 150px*/
  margin: auto;
  overflow: hidden;
  width: 90%;
  /*border: 2px solid red;*/
}

#ss-contain img {
  position: relative; /* allows repositioning */
/*
  max-height: 50%;
  width: 100%;*/
}

#prevbut {

}

#nextbut {

}
