/* Loading Gotham Font family
NOTE: Gotham is used for HEADLINE and
SUBHEAD, as well as body copy.
It is also the logo and address font.*/

@font-face {
  font-family: 'Gotham';
  src: url('/app/css/type/GothamHTF-Black.otf') format('otf');
  src: url('/app/css/type/GothamHTF-BlackItalic.otf') format('otf');
  src: url('/app/css/type/GothamHTF-Bold.otf') format('otf');
  src: url('/app/css/type/GothamHTF-BoldCondensed.otf') format('otf');
  src: url('/app/css/type/GothamHTF-BoldItalic.otf') format('otf');
  src: url('/app/css/type/GothamHTF-Book.otf') format('otf');
  src: url('/app/css/type/GothamHTF-BookCondensed.otf') format('otf');
  src: url('/app/css/type/GothamHTF-BookItalic.otf') format('otf');
  src: url('/app/css/type/GothamHTF-Light.otf') format('otf');
  src: url('/app/css/type/GothamHTF-LightCondensed.otf') format('otf');
  src: url('/app/css/type/GothamHTF-LightItalic.otf') format('otf');
  src: url('/app/css/type/GothamHTF-Medium.otf') format('otf');
  src: url('/app/css/type/GothamHTF-MediumCondensed.otf') format('otf');
  src: url('/app/css/type/GothamHTF-Thin.otf') format('otf');
  src: url('/app/css/type/GothamHTF-ThinItalic.otf') format('otf');
  src: url('/app/css/type/GothamHTF-Ultra.otf') format('otf');
  src: url('/app/css/type/GothamHTF-UltraItalic.otf') format('otf');
  src: url('/app/css/type/GothamHTF-XLight.otf') format('otf');
  src: url('/app/css/type/GothamHTF-XLightItalic.otf') format('otf');
}

/* Loading Clarendon Font family from TypeKit
NOTE: Clarendon is used for a graphic element ONLY and should not be used as body copy.
It can be used as a HEADLINE if HEADLINES are one or two words.
It can be used to emphasis a visual element such as numbers.
It should not be used in sentences. */

<script src="https://use.typekit.net/noo6xxu.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

/* Color palette for the website */
  :root {
/* C: 68 M: 0 Y: 3 K: 7
L: 68 A: -29 B: -32
R: 0 G: 181 B: 221
HEX: #00b5dd
PANTONE: 296C 638U
*/
    --blue: #00b5dd;
/* C: 0 M: 58 Y: 99 K: 0
L: 69 A: 43 B: 72
R: 55 G: 133 B: 19
HEX: #f68621
PANTONE: 716C 137U
*/
    --orange: #f68621;
/* C: 0 M: 0 Y: 0 K: 50
L: 27 A: 0 B: -1
R: 55 G: 64 B: 66
HEX: #414042
PANTONE: Cool Grey 7C 423U
*/
    --coolgrey7c: #414042;
/* C: 0 M: 0 Y: 0 K: 50
L: 33 A: 0 B: -1
R: 77 G: 77 B: 79
HEX: #4d4d4f
PANTONE: Cool Grey 11C Hexachrome Black U
*/
    --coolgrey11c: #4d4d4f;
/* C: 0 M: 30 Y: 49 K: 42
L: 33 A: 0 B: -1
R: 149 G: 105 B: 76
HEX: #95694c
PANTONE: 876C (Bronze)
*/
    --bronze: #95694c;
  }

.carousel-container {
    position: relative;
    padding-bottom: 64.062682215743%;
    /* ratio of image height to width */
    height: 0;
    overflow: hidden;
    /*background-color: #e9e9e9;*/
}

.gallery-container {
    padding-bottom: 2%;
}

.inventory-car-containter {
  border: none;
  box-shadow: none;
    /*position: relative;
    padding-bottom: 2%;*/
    /*padding-bottom: 80.851537291844%;*/
    /* ratio of image height to width */
    /*height: 0;*/
    /*overflow: hidden;*/
    /*border: none;*/
    /*background-color: #e9e9e9;*/
}

.main-image {
    width: 100%;
}

.msg-block {
    margin-top: 5px;
}

.msg-error {
    color: #F00;
    font-size: 14px;
}

.delete-link {
    height: 100%;
}


/****************/
.car-price {
  /*float:right;*/
  font-family: 'Gotham' sans-serif;
  font-weight: 400;
}

.car-header {
  /*float: left;*/
  font-family: 'Gotham' sans-serif;
  font-weight: 400;
}
/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }*/

#next {
    position: absolute;
    bottom: 15%;
    right: 10%;
}

#prev {
    position: absolute;
    bottom: 15%;
    left: 10%;
}

#next a {
    text-decoration: none;
    color: grey;
}

#prev a {
    text-decoration: none;
    color: grey;
}

#next a:hover {
    text-decoration: none;
    color: white;
}

#prev a:hover {
    text-decoration: none;
    color: white;
}

.sshow {
    width: 100%;
}

#ss-contain {
    /*min-height: 150px*/
    margin: auto;
    overflow: hidden;
    width: 90%;
    /*border: 2px solid red;*/
}

#ss-contain img {
    position: relative;
    /* allows repositioning */
    /*
  max-height: 50%;
  width: 100%;*/
}

#prevbut {}

#nextbut {}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.foot-contain {
    /*background-color: gray;*/
    display: inline-block;
    padding-top: 30px;
}

.site-footer {
    background-color: var(--coolgrey7c);
    color: #black;
    /*margin-top: 30px;*/
    padding-top: 20px;
}

.bottom-footer {
    background-color: var(--coolgrey7c);
    color: #black;
}

.footer-nav {
    text-align: center;
    list-style: none;
}

.footer-nav li {
    display: inline;
}

.footer-nav a {
  background-color: var(--coolgrey7c);
  color: var(--blue);
}

.footer-nav a:hover {
    color: #000000;
    text-decoration: none;
}

.footer-nav li:not(:first-child):before {
    content: '|';
    padding: 0px 10px;
}

.footer-title {
    color: #black;
}


/* centered columns styles */

.row-centered {
    text-align: center;
    display: inline-block;
    margin-top: 0px;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.text-top {
    vertical-align: top;
}

.nav-style {
    background-color: white;
    font-style: normal;
    font-family: 'Gotham' sans-serif;
    font-size: 20
    /*padding: 15px 30px;*/
}

.navbar-collapse.nav-style {
    font-family: 'Gotham', sans-serif;
    font-size: 20;
    margin-top: 10px;
    padding left: 0px;
    padding right: 0px;
}

.header-style {
    background-color: white;
    padding: 0px;
}

a.navbar-brand.my-brand {
    padding-bottom: 0px;
    font-family: 'Gotham', sans-serif;
    font-size: 26px;
    text-shadow: none;
}

button.navbar-toggle.nav-toggle-style {
    border-color: white;
    background-color: white;
}

button.navbar-toggle.nav-toggle-style:hover {
    border-color: white;
    background-color: #white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #white;
}

.nav-style li a {
    font-family: 'Gotham', sans-serif;
    font-size: 17px;
    text-shadow: none;
}


.car-descr {
    text-indent: 30px;
}

.car-specs {
    list-style: none;
    width: 95%;
    float: right;
    margin: auto;
    padding-bottom: 5px;
}

.car-specs li {
    list-style: none;
    padding-bottom: 5px;
    text-decoration: none;
}

.car-specs hr {
    width: 80%;
    border-color: white;
    margin: auto;
    padding: 2%;
}

/*.car-price {
    text-align: center;
}*/

.modal-style {
    position: relative;
    display: table;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

a.no-style-link {
    text-decoration: none;
    text-shadow: none;
    color: white;
}

a.no-style-link-thumb {
    text-decoration: none;
    text-shadow: none;
    color: black;
    display: flex;
    justify-content: center;
}

.cc-style {
    background-image: none;
}


/*.top-panel-btns {
    margin-top: 1%;
  }*/


/*.update-btn {
    margin-top: 1%;
  }*/

.thumb-container {
    padding-bottom: 1%;
    border-bottom: 1px solid #dddddd;
}

.thumb-container .thumbnail {
    border: none;
}

.ul-mult-btn {
    padding-bottom: 1%;
    border-bottom: 1px solid #dddddd;
}

p.yr-mk-mdl {
  max-width: 100%;
  font-size: 20px;
  margin: 0;
  padding-left: 5px;
  color: #4d4d4f;
  font-weight: 200;
  font-family: 'Gotham', sans-serif;
}

.car-text {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: left;
}

.rtn-inventory {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.inventory-title {
    text-align: center;
    margin: 0;
    padding-bottom: 2%;
}

.bg-img-style {
  float: left;
    width: 100%;
    height: 240px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}
#car-price {
  position: absolute;
  right: 6px;
  bottom: 91px;
  font-size: 19px;
  background-color: rgba(58, 58, 58, 0.66);
  /*background-color: #3a3a3a;*/
  color: white;
  /*filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;*/
}

#car-price p {
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0px;
}

.inv-pics {
  text-align:center;
  height: 237px;
  width:355px;
  overflow:hidden;
  transition:all .2s linear;
}
/*@media (min-width: 992px){

}*/
.car-tiles{
  display: flex;
  justify-content: center;
  padding-bottom: 88px;
  padding-left: 3px;
  padding-right: 3px;
}

.sprite {
  height: 25px;
  position: absolute;
  bottom: 92px;
  left: 8px;
}
.spec-list li{
    padding: 20px;
    font-family: 'Gotham' sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.car-detail-carousel {
  width: 800px;
  height: 536px;
}

.description-section {
  font-family: 'Gotham' sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.description-section h3{
  font-family: 'Gotham' sans-serif;
  font-weight: 400;
}

.thumb-group {
  margin:auto;
  padding:0px;
  /*padding-left: 25px*/
}
.navbar-toggle {
  margin-right: 0px;
}

#detailGal {
  /*width: 100px;
  height: 67px;*/
  width: 127px;
  height: 85px;
  padding: 0px;
  border: none;
  margin: auto;
  box-shadow: none;
  border-radius: 0px;
  overflow: hidden;
}

#detailGal img {
  /*height: 100%;*/
  max-width: 100%;
  max-height: 100%;
  float: left;
  margin: 5px 0;
  padding-left: 2px;
  padding-right: 2px;
}
.car-ymm-price {
    width: 1053px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.spec-lables {
  font-size: 13px;
  font-weight: 300;
}

.email-lables {
  font-family: 'Gotham' sans-serif;
  font-weight: 400;
}

.contact-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: lightgrey;
    /*background-color:#f68f33;*/
    height: 50px;
    /*color: white;*/
    font-family: 'Gotham' sans-serif;
    /*font-size: 20px;*/
}
.contact-header h4 {
  padding: 10px;
  padding-top: 15px;
  padding-left: 15px;
  font-weight: 400;
}

.list-price {
  background-color: #1eb6e0;

  color: white;
}

@media (min-width: 1199px){
  .inv-pics {
    height: 197px;
    width:296px;
  }
  .car-detail-carousel {
    width: 685px;
    height: 460px;
  }
  #car-price {
    right: 6px;
  }
  .car-detail-row{
    padding-left: 60px;
    padding-right: 60px;
  }
  #detailGal {
      width: 110px;
      height: 74px;
  }
}

@media (min-width: 1148px) and (max-width: 1199px) {
  .car-text {
      bottom: 49px;
      max-width: 265px;
      height: 26px;
  }
  .inv-pics {
    height: 163px;
    width:244px;
  }
  #car-price {
    right: 6px;
    bottom: 91px;
  }
  .car-detail-carousel {
    width: 635px;
    height: 426px;
  }

  p.yr-mk-mdl {
    font-size: 18px;
  }

  #detailGal {
      width: 100px;
      height: 67px;
  }
  .car-ymm-price {
      width: 970px;
    }
}

@media (min-width: 992px) and (max-width: 1147px) {
  .inv-pics {
    height: 163px;
    width:244px;
  }
  .car-text {
    bottom: 49px;
    height: 26px;
    max-width: 265px;
  }
  .car-detail-carousel {
    width: 600px;
    height: 403px;
  }
  #car-price {
    right: 6px;
    bottom: 91px;
  }
  p.yr-mk-mdl {
    font-size: 18px;
  }
  #detailGal {
      width: 100px;
      height: 67px;
  }
  .car-detail-row{
    padding-left: 30px;
    padding-right: 30px;
  }
  .car-ymm-price {
      width: 908px;
    }
}

@media (min-width: 800px) and (max-width: 991px) {
  #car-price {
    right: 6px;
    bottom: 91px;
  }
  .car-detail-carousel {
    width: 456px;
    height: 306px;
    margin: auto;
  }
  .car-text {
      bottom: 49px;
      height: 26px;
      max-width: 308px;
  }
  #detailGal {
      width: 100px;
      height: 67px;
  }
  .car-detail-row{
    padding-left: 30px;
    padding-right: 30px;
  }
  .car-ymm-price {
      width: 688px;
    }
}

@media (min-width: 768px) and (max-width: 799px) {
  #car-price {
    right: 6px;
    bottom: 91px;
  }
  .car-detail-carousel {
    width: 456px;
    height: 306px;
    margin: auto;
  }
  .car-text {
      bottom: 49px;
      height: 26px;
      max-width: 308px;
  }
  #detailGal {
      width: 100px;
      height: 67px;
  }
  .car-detail-row{
    padding-left: 30px;
    padding-right: 30px;
  }
  .car-ymm-price {
      width: 688px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
  /*.inv-pics {
    height: 140px;
    width:207px;
  }*/
  .car-detail-row{
    padding-left: 30px;
    padding-right: 30px;
  }
  .car-detail-carousel {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
  }
  .car-text {
      bottom: 47px;
  }
  #car-price {
    /*right: -2px;
    bottom: 36px;*/
  }
  .car-ymm-price {
      width: 90%;
    }
    .car-ymm-price h2{
        font-size: 26px;
      }
}

#fade-in-pic {
}


@media only screen and (min-width: 320px) {
    .inventory-car-containter {
        /*padding-bottom: 65.851537291844%;*/
        /* ratio of image height to width */
    }
    a.navbar-brand.my-brand {
        font-size: 14px;
    }

}


/*iphone 6*/

@media only screen and (min-width: 375px) {
    .inventory-car-containter {
        /*padding-bottom: 50.851537291844%;*/
        /* ratio of image height to width */
    }
    /*#car-price {
      right: -10px;
      bottom: 22px;
    }*/

}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    .inventory-car-containter {
        /*position: relative;*/
        /*padding-bottom: 80.851537291844%;*/
        /* ratio of image height to width */
        /*height: 0;*/
        /*overflow: hidden;*/
        /*border: none;*/
        /*background-color: #e9e9e9;*/
    }
}
