
.main-image{
  width: 100%;
}

.msg-block {
    margin-top:5px;
}
.msg-error {
    color:#F00;
    font-size:14px;
}


/****************/
/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }*/
#next {
  position:absolute;
  bottom:15%;
  right:10%;
}

#prev {
  position:absolute;
  bottom:15%;
  left:10%;
}
#next a{
  text-decoration: none;
  color: grey;
}

#prev a{
text-decoration: none;
color: grey;
}

#next a:hover{
  text-decoration: none;
  color: white;
}

#prev a:hover{
text-decoration: none;
color: white;
}

.sshow {
  width: 100%;
}
#ss-contain {
  /*min-height: 150px*/
  margin: auto;
  overflow: hidden;
  width: 90%;
  /*border: 2px solid red;*/
}

#ss-contain img {
  position: relative; /* allows repositioning */
/*
  max-height: 50%;
  width: 100%;*/
}

#prevbut {

}

#nextbut {

}

.no-margin {
  margin:0px;
}

.no-padding {
  padding:0px;
}

.foot-contain {
  /*background-color: gray;*/
  display: inline-block;
  padding-top: 30px;
}

.site-footer{
  background-color: #222;
  color: #fff;
  margin-top: 30px;
  padding-top: 30px;
}

.bottom-footer {
  border-top: 1px solid;
  margin-top: 10px;
  padding-top: 10px;
  color: #b2b2b2;
}
.footer-nav{
  text-align: right;
  list-style: none;
}
.footer-nav li{
  display: inline;
}

.footer-nav a{
  color: #b2b2b2;
}
.footer-nav a:hover{
  color: #fff;
  text-decoration: none;
}

.footer-nav li:not(:first-child):before {
  content: '|';
  padding: 0px 10px;
}

.footer-title {
  color: #b2b2b2;
}

/* centered columns styles */
.row-centered {
    text-align:center;
    display: inline-block;
    margin-top: 30px;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.text-top {
  vertical-align: top;
}

.nav-style {
  background-color: black;

  /*padding: 15px 30px;*/
}

.navbar-collapse.nav-style{
  padding left: 15px;
  padding right: 15px;
}

.header-style {
  background-color: black;
  padding: 15px;
}

a.navbar-brand.my-brand {
  padding-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: none;
}

button.navbar-toggle.nav-toggle-style {
    border-color: black;
    background-color: black;
}

button.navbar-toggle.nav-toggle-style:hover {
    border-color: black;
    background-color: #212121;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #212121;
}

.nav-style li a{
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
  text-shadow: none;
}

.car-header {
  text-align: center;
}

.car-descr{
   text-indent: 30px;
}

.car-specs{
  list-style: none;
  background-color: #c2c2c2;
  padding-top: 5px;
  padding-bottom: 5px;
}
.car-specs li{
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}
.car-specs hr{
width: 80%;
border-color: black;
}
.car-price {
  text-align: center;
}

.modal-style {
  position: relative;
  display: table;
  overflow-x: auto;
  width: auto;
  min-width: 300px;}

@media (min-width: 768px){
  .navbar-collapse.nav-style li a {
    line-height: 50px;
  }
}
